*.iml
*.idea
target
java.io.tempdir
*.log
logs
backup
a*.sh
frame-db-simple
frame-main
common-cas
*.bak
*.zip
html/js/mine.js
node/node_modules
node/package-lock.json
node/src/common/js/constantPrivate.vue
