/*html, body, * {     font-family: "Microsoft YaHei" ! important; }*/

html,body,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,table,tr,th,td,p,input,dl,dt,dd,ul,ol,li,input,textarea
{
	/*font-family: SimHei,"微软雅黑",sans-serif;*/
	/*font-family: "Microsoft YaHei" ! important;*/
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}
.box {
    padding:10px;
}
.boxline {
    padding: 0px 10px 10px 10px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
}
textarea{
    height:100px;
    width:200px;
}


.bold {
    font-weight: bold;
}

.page-content {
    background-color: #FFF;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px;
}

.inputbox {
    /*margin-top:10px; */
    margin-left:10px;
    margin-right:5px;
}
.resultbox {
    margin-top: 10px;
    margin-left:10px;
}


.oneline {
    /*    padding-top:10px;*/
    padding-bottom: 10px;
}

.sidebar {
    width: 190px;
    float: left;
    position: static;
    padding-left: 0;
    padding-right: 0;
}

.displaynone{
    display: none;
}
